@import "./utils/variables.scss";
@import "./base/typo.scss";
@import "./base/normes.scss";

@import "./layouts/header.scss";

/* MAIN */
.main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $font-primary-color;
    font-family: $font-family-secondary;

    &__section {
        width: 75vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid white 1px;

        & div {
           

            & h1 {
                color: $font-primary-color;
                font-family: $font-family-secondary;
                width: 100%;
                padding: 1rem;
                display: flex;
                align-items: center;
                margin-bottom: 3rem;
                white-space: nowrap;

                & span {
                    color: $secondary-color;
                    margin: 1rem;

                    &:first-child, &:last-child {
                        display: inline-block;
                        width: 10vw;
                        height: 0;
                        background-color: $secondary-color;
                        border: solid $secondary-color 1px;
                    }
                }
            } 
        }
    }
}

.bloc-experiences {
    border: solid gray 1px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}



@import "./layouts/footer.scss";
