@charset "UTF-8";
/* Importation des polices */
@font-face {
  font-family: "SF-mono";
  src: url(../../assets/fonts/SFMono-Regular.otf);
}
@font-face {
  font-family: "Roboto";
  src: url(../../assets/fonts/Roboto-Regular.ttf);
}
/* Mise en forme générale */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background-color: #1F2039;
  font-family: "SF-Mono", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  letter-spacing: 0.1rem;
  line-height: 1.4rem;
}

/*HEADER */
/* NAVBAR */
.header__navbar {
  width: 100vw;
  height: 10vh;
  padding: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.5);
}
.header__navbar__link-container {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navbar__link-container a {
  text-decoration: none;
  color: #DA9D20;
  font-family: "SF-Mono", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
}
.header__navbar__link-container a span {
  color: #A5B4FC;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.header__navbar__link-container a:hover span {
  color: #DA9D20;
}
.header__navbar__link-container a:last-child:hover {
  background: rgba(218, 157, 32, 0.2);
}

.btn {
  padding: 0.6em 0.8em;
  border: solid #DA9D20 1px;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

/*  PAGE INDEX.HTML */
/* Partie MAIN */
/* SECTION */
.index {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index__section {
  color: #ffffff;
  width: 70vw;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
}
.index__section::before {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  border-top: solid #DA9D20 10px;
  border-left: solid #DA9D20 10px;
  width: 10vw;
  height: 8vh;
}
.index__section::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: " ";
  border-right: solid #DA9D20 10px;
  border-bottom: solid #DA9D20 10px;
  width: 10vw;
  height: 8vh;
}
.index__section h1 {
  font-size: 16px;
}
.index__section h2,
.index__section h3 {
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  font-size: clamp(1.5rem, 3.5vw, 45px);
  white-space: break-spaces;
  text-transform: uppercase;
}
.index__section h1,
.index__section h2,
.index__section h3,
.index__section p {
  margin: 1rem;
}

/*  PAGE ABOUT.HTML */
/* MAIN */
.about {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}
.about__section {
  width: 75vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__section div {
  max-width: 70%;
}
.about__section div h1 {
  color: #ffffff;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3rem;
  white-space: nowrap;
}
.about__section div h1 span {
  color: #DA9D20;
  margin: 1rem;
}
.about__section div h1 span:last-child {
  display: inline-block;
  width: 10vw;
  height: 0;
  background-color: #DA9D20;
  border: solid #DA9D20 1px;
}
.about__section div p {
  margin: 2rem 0;
}
.about__section figure {
  width: 20%;
  border: solid #DA9D20 2px;
  box-shadow: inset -50px -50px 20px rgba(0, 0, 0, 0.2);
}
.about__section figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(-10%, -5%);
  -webkit-transform: translate(-10%, -5%);
  -moz-transform: translate(-10%, -5%);
  -ms-transform: translate(-10%, -5%);
  -o-transform: translate(-10%, -5%);
}

/*  PAGE EXPERIENCE.HTML */
/* MAIN */
.experience {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}
.experience__section {
  width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid white 1px;
}
.experience__section div h1 {
  color: #ffffff;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  white-space: nowrap;
}
.experience__section div h1 span {
  color: #DA9D20;
  margin: 1rem;
}
.experience__section div h1 span:first-child, .experience__section div h1 span:last-child {
  display: inline-block;
  width: 10vw;
  height: 0;
  background-color: #DA9D20;
  border: solid #DA9D20 1px;
}

.bloc-experiences {
  border: solid gray 1px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/*  PAGE PROJECT.HTML */
/* FOOTER */
/* FOOTER */
.footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__navbar {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 8vw;
  height: 30vh;
}
.footer__navbar a {
  color: #DA9D20;
}
.footer__navbar a:hover {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transform: translateY(-20%);
  -webkit-transform: translateY(-20%);
  -moz-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  -o-transform: translateY(-20%);
}
.footer__navbar span {
  height: 15vh;
  background-color: #DA9D20;
  border: solid #DA9D20 1px;
}
.footer__navbar span:first-child {
  display: none;
}

/* RESPONSIVE */
@media screen and (max-width: 1349px) {
  /* BREAK MENU BURGER */
  .header__navbar__menu-burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    z-index: 200;
    padding: 0.5rem;
  }
  .header__navbar__menu-burger span {
    border: #DA9D20 solid 1px;
    background-color: #DA9D20;
    transition: 0.4s ease-out;
    -webkit-transition: 0.4s ease-out;
    -moz-transition: 0.4s ease-out;
    -ms-transition: 0.4s ease-out;
    -o-transition: 0.4s ease-out;
  }
  .burger-top {
    width: 2rem;
    margin-bottom: 0.5rem;
  }
  .burger-middle {
    width: 1.5rem;
  }
  .burger-bottom {
    width: 1rem;
    margin-top: 0.5rem;
  }
  .header__navbar__link-container {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: 1s ease-out;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    background-color: rgba(31, 32, 57, 0.5);
  }
  .header__navbar__link-container a {
    margin: 1.2rem;
    font-size: 1.2rem;
  }
  /* Les classes qui seront Toggle pour le menu burger */
  .fixed {
    position: fixed;
  }
  .off {
    display: none;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
  .close-top {
    margin-bottom: -1px;
    transform: rotate(405deg);
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
  }
  .close-bottom {
    margin-top: -1px;
    width: 2rem;
    transform: rotate(495deg);
    -webkit-transform: rotate(495deg);
    -moz-transform: rotate(495deg);
    -ms-transform: rotate(495deg);
    -o-transform: rotate(495deg);
    animation: slideTop 1s ease-out 0;
    -webkit-animation: slideTop 1s ease-out 0;
  }
  .display-link-container {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  /* BREAK ABOUT */
  .about {
    height: auto;
  }
  .about__section {
    flex-direction: column-reverse;
  }
  .about__section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }
  .about__section div h1 {
    padding: 0;
    justify-content: center;
  }
  .about__section div h1 span:last-child {
    display: none;
  }
  .about__section figure {
    width: 200px;
    margin: 5rem;
  }
}
@media screen and (max-width: 768px) {
  /* Break INDEX */
  .index__section {
    width: 90vw;
    text-align: justify;
    font-size: 12px;
  }
  .index__section h1 {
    font-size: 12px;
  }
  .index__section h2,
  .index__section h3 {
    text-align: left;
    line-height: 2rem;
  }
  /* Break FOOTER */
  .footer__navbar {
    position: static;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 15vh;
  }
  .footer__navbar a {
    margin: auto 2rem;
  }
  .footer__navbar span {
    width: 20vw;
    height: 0;
  }
  .footer__navbar span:first-child {
    display: inline;
  }
}/*# sourceMappingURL=main.css.map */