// Variables des couleurs
$primary: #1F2039;
$secondary: #DA9D20;
$font-primary: #ffffff;
$font-secondary: #A5B4FC;
$font-family-primary: Roboto, Verdana, Geneva, Tahoma, sans-serif;
$font-family-secondary: "SF-Mono", Verdana, Geneva, Tahoma, sans-serif;

// Appel des polices de caractère
@font-face {
    font-family: "SF-mono";
    src: url(assets/fonts/SFMono-Regular.otf);
}

@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto-Regular.ttf);
}

// Mise en forme générale
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $primary;
    font-family: $font-family-primary;
    font-size: 16px;
    letter-spacing: 0.1rem;
    line-height: 1.4rem;
}

/* Début du travail de la page */
/* Partie HEADER */
/* NAVBAR */

.header__navbar {
    width: 100vw;
    height: 10vh;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 2px 2px 1px rgb(0, 0, 0, 0.5);

    &__link-container {
        width: 50vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link-container a {
        text-decoration: none;
        color: $secondary;
        font-family: "SF-Mono", Verdana, Geneva, Tahoma, sans-serif;
        font-size: 0.9rem;
    }

    &__link-container a span {
        color: $font-secondary;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
    }

    &__link-container a:hover span {
        color: $secondary;
    }

    &__link-container a:last-child:hover {
        background: rgb(218, 157, 32, 0.2);
    }
}

.btn {
    padding: 0.6em 0.8em;
    border: solid $secondary 1px;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

/* Partie MAIN */
/* SECTION */
.main {
    // border: solid white 1px;
    height: 90vh;
    // margin-left: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main__section {
    // border: solid #A5B4FC 1px;
    color: $font-primary;
    width: 50vw;
    height: 40vh;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: " ";
        border-top: solid $secondary 10px;
        border-left: solid $secondary 10px;
        width: 10vw;
        height: 8vh;
    }

    &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        content: " ";
        border-right: solid $secondary 10px;
        border-bottom: solid $secondary 10px;
        width: 10vw;
        height: 8vh;
    }

    & h1 {
        font-size: 16px;
    }

    & h2,
    h3 {
        font-family: $font-family-secondary;
        font-size: 40px;
    }
}

/* Partie FOOTER */
/* NAVBAR */

.footer__navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 8vw;
    height: 30vh;

    & a {
        color: $secondary;

        &:hover {
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
            transform: translateY(-20%);
            -webkit-transform: translateY(-20%);
            -moz-transform: translateY(-20%);
            -ms-transform: translateY(-20%);
            -o-transform: translateY(-20%);
}
    }

    & span {
        height: 15vh;
        background-color: $secondary;
        border: solid $secondary 1px;
    }

}

/* Break Menu Burger */

@media screen and (max-width:1349px) {

    .header__navbar__menu-burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        cursor: pointer;
        z-index: 200;
        padding: 0.5rem;

        & span {
            border: $secondary solid 1px;
            background-color: $secondary;
            transition: 0.4s ease-out;
            -webkit-transition: 0.4s ease-out;
            -moz-transition: 0.4s ease-out;
            -ms-transition: 0.4s ease-out;
            -o-transition: 0.4s ease-out;
        }
    }

    .burger-top {
        width: 2rem;
        margin-bottom: 0.5rem;
    }

    .burger-middle {
        width: 1.5rem;
    }

    .burger-bottom {
        width: 1rem;
        margin-top: 0.5rem
    }

    .header__navbar__link-container {
        position: absolute;
        top: 0;
        left: 0;
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 100;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transition: 1s ease-out;
        -webkit-transition: 1s ease-out;
        -moz-transition: 1s ease-out;
        -ms-transition: 1s ease-out;
        -o-transition: 1s ease-out;

        & a {
            margin: 1.2rem;
        }
    }


    /* Les classes qui seront Toggle pour le menu burger */

    .off {
        display: none;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }

    .close-top {
        margin-bottom: -1px;
        transform: rotate(405deg);
        -webkit-transform: rotate(405deg);
        -moz-transform: rotate(405deg);
        -ms-transform: rotate(405deg);
        -o-transform: rotate(405deg);

    }

    .close-bottom {
        margin-top: -1px;
        width: 2rem;
        transform: rotate(495deg);
        -webkit-transform: rotate(495deg);
        -moz-transform: rotate(495deg);
        -ms-transform: rotate(495deg);
        -o-transform: rotate(495deg);
        animation: slideTop 1s ease-out 0;
        -webkit-animation: slideTop 1s ease-out 0;
    }

    .display-link-container {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
}