@media screen and (max-width:1349px) {

    /* BREAK MENU BURGER */
    .header__navbar__menu-burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        cursor: pointer;
        z-index: 200;
        padding: 0.5rem;

        & span {
            border: $secondary-color solid 1px;
            background-color: $secondary-color;
            transition: 0.4s ease-out;
            -webkit-transition: 0.4s ease-out;
            -moz-transition: 0.4s ease-out;
            -ms-transition: 0.4s ease-out;
            -o-transition: 0.4s ease-out;
        }
    }

    .burger-top {
        width: 2rem;
        margin-bottom: 0.5rem;
    }

    .burger-middle {
        width: 1.5rem;
    }

    .burger-bottom {
        width: 1rem;
        margin-top: 0.5rem
    }

    .header__navbar__link-container {
        position: fixed;
        top: 0;
        left: 0;
        backdrop-filter: blur(20px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 100;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transition: 1s ease-out;
        -webkit-transition: 1s ease-out;
        -moz-transition: 1s ease-out;
        -ms-transition: 1s ease-out;
        -o-transition: 1s ease-out;
        background-color: rgb(31, 32, 57, 0.5);

        & a {
            margin: 1.2rem;
            font-size: 1.2rem;
        }
    }


    /* Les classes qui seront Toggle pour le menu burger */

    .fixed {
        position: fixed;
    }

    .off {
        display: none;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }

    .close-top {
        margin-bottom: -1px;
        transform: rotate(405deg);
        -webkit-transform: rotate(405deg);
        -moz-transform: rotate(405deg);
        -ms-transform: rotate(405deg);
        -o-transform: rotate(405deg);

    }

    .close-bottom {
        margin-top: -1px;
        width: 2rem;
        transform: rotate(495deg);
        -webkit-transform: rotate(495deg);
        -moz-transform: rotate(495deg);
        -ms-transform: rotate(495deg);
        -o-transform: rotate(495deg);
        animation: slideTop 1s ease-out 0;
        -webkit-animation: slideTop 1s ease-out 0;
    }

    .display-link-container {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }

    /* BREAK ABOUT */
    .about {
        height: auto;

        &__section {
            flex-direction: column-reverse;

            & div {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: justify;
                max-width: 90%;

                & h1 {
                    padding: 0;
                    justify-content: center;

                    & span:last-child {
                        display: none;
                    }
                }
            }

            & figure {
                width: 200px;
                margin: 5rem;
            }

        }
    }


    /* BREAK EXPERIENCE */
    /* LEFT */
    .experience {
        height: 100vh;
        & .experience__section {
            >div {
                &>h1 {

                    & span:first-child,
                    & span:last-child {
                        display: none;
                    }
                }
            }

        }
    }

    .experience__section .bloc-experiences {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        &__left {
            flex-direction: row;
            justify-content: stretch;
            align-items: stretch;
            width: 100%;
            height: 15%;

            & p {
                width: 25%;
                height: 100%;
                border-left: none;
                border-bottom: solid rgb(225, 216, 216) 2px;
            }

            & span {
                width: 25%;
                height: 0%;
                transform: translateY(-100%);
                -webkit-transform: translateY(-100%);
                -moz-transform: translateY(-100%);
                -ms-transform: translateY(-100%);
                -o-transform: translateY(-100%);
            }
        }

        & .move-to-stef {
            left: 0% !important;
            top: 100% !important;
        }

        & .move-to-canavese {
            left: 25% !important;
            top: 100% !important;

        }

        & .move-to-poste {
            left: 50% !important;
            top: 100% !important;

        }

        & .move-to-armee {
            left: 75% !important;
            top: 100% !important;

        }

        /* RIGHT */

        &__right {
            width: 100%;
            height: 80%;

            &>div {
                border: none;
                overflow: visible;
            }
        }


    }
}

@media screen and (max-width: 768px) {
    /* GENERAL */

    p,
    ul {
        font-size: 12px;
        line-height: 1.6rem;
        // letter-spacing: 0.2rem;
    }

    /* Break INDEX */
    .index__section {
        width: 90vw;
        text-align: justify;
        // font-size: 12px;

        & h1 {
            font-size: 12px;
        }

        & h2,
        h3 {
            text-align: left;
            line-height: 2rem;
            white-space: break-spaces;
        }
    }

    /* Break FOOTER */
    .footer__navbar {
        position: sticky;
        bottom: 0;

        flex-direction: row;
        justify-content: center;
        width: 100vw;
        height: 15vh;

        & a {
            margin: auto 2rem;
        }

        & span {
            width: 20vw;
            height: 0;

            &:first-child {
                display: inline;
            }
        }
    }
}