$primary: #1F2039;
$secondary: #DA9D20;
$font-primary: #ffffff;
$font-secondary: #A5B4FC;
$font-family-primary: Roboto, Verdana, Geneva, Tahoma, sans-serif;
$font-family-secondary: "SF-Mono", Verdana, Geneva, Tahoma, sans-serif;