$primary-color: #1F2039;
$secondary-color: #DA9D20;
$font-primary-color: #ffffff;
$font-secondary-color: #A5B4FC;
$font-family-primary: "SF-Mono", Verdana, Geneva, Tahoma, sans-serif;
$font-family-secondary: Roboto, Verdana, Geneva, Tahoma, sans-serif;